[tool.pytest.ini_options]

addopts = "-rx -rf -x -q --full-trace"
testpaths = ["tests"]

markers = [
    "slow: Marks test as being slow",
]

[tool.mypy]

pretty = true
show_column_numbers = true
show_error_context = true
show_error_codes = true
show_traceback = true
disallow_untyped_defs = true
strict_equality = true
allow_redefinition = true

warn_unused_ignores = true
warn_redundant_casts = true

incremental = true
namespace_packages = false

exclude = "run_\\d"

[[tool.mypy.overrides]]

module = [
    "_pytest.*",
    "distrax.*",
    "equinox.*",
    "glfw.*",
    "mujoco.*",
    "optax.*",
    "scipy.*",
    "bvhio.*",
    "glm.*",
    "imageio.*",
]
ignore_missing_imports = true

[tool.ruff]

line-length = 120
target-version = "py310"

[tool.ruff.format]

quote-style = "double"
docstring-code-format = true

[tool.ruff.lint]

select = ["ANN", "B", "D", "E", "F", "G", "I", "N", "PGH", "PLC", "PLE", "PLR", "PLW", "W"]

ignore = [
    "D101", "D102", "D103", "D104", "D105", "D106", "D107",
    "N812", "N817",
    "PLR0911", "PLR0912", "PLR0913", "PLR0915", "PLR2004",
    "PLW0603", "PLW2901",
    "N806",
    "N803",
]

dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.lint.per-file-ignores]

"__init__.py" = ["E402", "F401", "F403", "F811"]

[tool.ruff.lint.isort]

known-first-party = ["ksim", "tests"]
combine-as-imports = true

[tool.ruff.lint.pydocstyle]

convention = "google"
